.wrapper {
    background-color: rgba(38, 35, 35, 0.941);
    padding:1em;
    text-align: right;
    border-radius: 25px;
   
}
.content {
   display: grid;
   grid-template-columns: 1fr 1fr;
}
.card-title{
    font-size: 1.2rem;
}
.metricsImg{
    width: 75px;
    height: 75px;
}
.unitMetric{
    width: 75px;
    height: 75px;
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    
    .card-title{
        font-size: 1.4rem;
    }
    .content{
        grid-template-columns: 3fr 1fr;
    }
  }
  
  /* Pantallas grandes (desktops) */
  @media only screen and (min-width: 901px) {
    .card-title{
        font-size: 1.5rem;
        gap:0;
    }
    .content{
        grid-template-columns: 1fr 1fr;
        gap:0;
    }
    .metricsImg{
        width: 100px;
       
    }
    .unitMetric{
        width: 100px;
    }
  }