.wrapper {
    background-color: rgba(38, 35, 35, 0.941);
    padding: 1rem;
    text-align: right;
    border-radius: 25px;
    margin:1em;

}
.content {
   display: grid;
   grid-template-columns: 1fr 1fr;
  

}