.wrapper {
    background-color: rgba(252, 249, 249, 0.464);
    padding: 0.75rem;
    text-align: right;
    border-radius: 10px;

}
.content {
   display: grid;
   grid-template-columns: 1fr 1fr;
  

}