.wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    margin-bottom:1.25rem;
    margin-top:4rem;
    background-color: rgba(223, 238, 238, 0.53);
    border-radius: 25px;
    padding: 1em;
    
}

