.wrapper {
    display: flex;
    justify-content: space-around;
   
}

.btn{
    cursor:pointer;
    background-color: rgba(223, 238, 238, 0.53);
    border:none;
    transition: transform 500ms ease-in-out, color 0.3s ease;
    border-radius: 25px;
    padding: 0.6rem;
    font-size: 1rem;
}
.btn:hover{
    transform: scale(1.2);
}


.switch {
    display: inline;
    margin: 0 0.5rem;
}
.switch:hover {
    transform: scale(1.05); 
  }

.active{
    color: rgb(91, 146, 8);
    transform: scale(1.1); 
}

.inactive{
    color: rgba(104, 98, 31, 0.82);
    transform: scale(1); 
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    .wrapper{
       
    }
  }
  
  /* Pantallas grandes (desktops) */
  @media only screen and (min-width: 901px) {
    .wrapper{
        display: block;
        text-align: right;
    }
  }