.btn{
    padding: 0.3em;
    background-color: rgba(223, 238, 238, 0.53);
    border:none;
    transition: transform 500ms ease-in-out;
    border-radius: 25px;
    padding: 0.75rem;
}
.btn:hover{
    transform: scale(1.2);
}

.wrapper {
    text-align: right;
}
.switch {
    display: inline;
    margin: 0 0.5rem;
}

.active{
    color: rgb(91, 146, 8);
}

.inactive{
    color: rgba(104, 98, 31, 0.82);
}