.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  background: rgba(105, 216, 250, 0.588);
  box-shadow: 8px 8px 8px 4px rgba(83, 179, 152, 0.37);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  border-radius:30px;
  overflow: hidden;
  text-align:center;
  padding: 0.75em;
  border: 1px solid rgba(200, 193, 193, 0.734);
}