.wrapper{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;;
    margin-bottom: 20px;
    
}

/* Pantallas medianas (tablets) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
  .wrapper{
    /* display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px; */
}
}

/* Pantallas grandes (desktops) */
@media only screen and (min-width: 901px) {
  .wrapper{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around; 
    height: 10%;
    width: 100%;
  }
}