.wrapper{
    text-align:center;
    padding: 1.7em;
    border: 5px solid black;
}

.location{
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.description{
    font-size: 2rem;
    margin-bottom: 20px;
}
.temperature{
    font-size:5em;
}