.wrapper{
    text-align:center;
    padding: 1.7em;
    background-color: rgba(223, 238, 238, 0.53);
    border-radius: 25px;
    margin-right:1em;
   
}

.location{
    font-size: 2.5rem;
    margin-bottom: 10px;
}
.description{
    font-size: 2rem;
    margin-bottom: 20px;
}
.temperatur{
    font-size:2.75rem;
    
}