.search{
    height: 2.5em;
    font-size: 1em;
    text-align: right;
    padding: 0.5rem 0.5rem;
    border-radius: 20px;
    box-shadow: rgba(175, 245, 194, 0.3) 0px 0px 0px 3px;
   

}

.search:focus{
    outline: 3px solid #294368b1;

}
.search::placeholder{
  text-align: center;
}

/* Pantallas medianas (tablets) */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    .search{
      width: 80%;
    }
  }
  
  /* Pantallas grandes (desktops) */
  @media only screen and (min-width: 901px) {
    .search{
        
    }
  }